BasedOnStyle: LLVM
IndentWidth: 2
---
Language: Cpp
PointerAlignment: Left
AllowShortBlocksOnASingleLine: Empty
ColumnLimit: 120
ReferenceAlignment: Right
SpacesBeforeTrailingComments: 2
BreakBeforeTernaryOperators: False
